/*

Alex Hardtke
MiU 1306
6-13-13
Project 2

*/

body{
	font-family: Arial, Helvetica, sans-serif; 
	margin: auto; 
	padding-top: 5px;
	padding-bottom: 5px; 
	background:#b5bade;
}

.ui-page { 
	background: #999;
}

.ui-header .ui-title {
	margin-left: 10%;
	margin-right: 10%;
}

/*
.ui-btn-inner{
	padding: 0;
}
*/

h1 {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	outline: ;
	width: ;
	height: ;
	display: ;
	overflow: ;
	visibility: ;
	word-wrap: ;
	background: #425cd1;
	text-align: center;
	color: white;
}

h2 {
	margin: 20px;
	padding-top: 20px;
	text-align: center;
	font-style: italic;
}

/*
h3 {
	margin: 0px;
	padding: 5px;
	border: 1px solid black;
	text-align: center;
	background: #425cd1;
	color: white;
}
*/

.cta {
	margin: 0px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid black;
	background-image: url(../images/Background.png);
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	text-align: right;
	letter-spacing: .081em;
}

.ctatext {
	margin: 0px;
	padding-left: 100px;
	padding-right: 10px;
	text-align: right;
	font: italic 12px sans-serif;
	color: white;
}

.button {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 110px;
}

/*
.searchbar {
	margin-top: 10px;
	margin-left: 28px;
	color: white;
	width: 195px;
}
*/

/*
.searchlink {
	margin-top: 10px;
	margin-left: 3px;
	color: black;
	text-decoration: none;
	display: inline-block;
	list-style: none;
	background: grey;
	padding: 2px;
	border: solid 1px black;
	border-radius: 5px;
}
*/

.searchtitle {
	margin-bottom: 5px;
}

/*
.browse {
	margin-top: 0px;
	font: bold 12pt sans-serif;
	color: white;
	display: block;
	list-style: none;
	text-decoration: none;
	background: #425cd1;
	padding: 10px;
	border: solid 1px black;
}
*/

nav {
	display: block;
	text-align: left;
}

a {
	color: blue;
	text-align: center;
	font: normal 12px sans-serif;
	letter-spacing: .081em;
	
}

a:hover {
	color: white;
	outline: 1px dotted white;
	text-decoration: none;
}

fieldset {
	border: 1px solid white;
}

legend {
	font: normal 18px sans-serif;
	text-align: center;
}

ul {
	font: normal 14px sans-serif;
	list-style-type: none;
	padding: 0;
	margin-left: 1em;
}

li {
	margin: .5em 0;
}


input[type=text]:hover {background: #F0F0F0;}
input[type=email]:hover {background: #F0F0F0;}
input[type=password]:hover {background: #F0F0F0;}
textarea:hover {background: #F0F0F0;}